@charset "UTF-8";
@font-face {
    font-family: VazirMatn;
    font-style: normal;
    font-weight: normal;
    src: url(./static/media/Vazirmatn.eb0d9c6914c753f76252.ttf) format('truetype');
}
body {
    margin: 2em;
    font-family: "VazirMatn" !important;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.flex-item {
    padding: 5px;
    height: 100%;
    margin: 15px;
    line-height: 20px;
    font-size: 1.2em;
    text-align: center;
    white-space: nowrap;
}
p {
    margin-block: 1rem;
    font-size: 2rem;
}
button {
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-family: "VazirMatn" !important;
    width: 50%;
    background-color: #68E389;
    color: white;
    font-size: 1rem;

}
